/coursera/hse_vvedenie/week7/features_test.zip
/coursera/hse_vvedenie/week7/features.zip
/coursera/hse_vvedenie/week7/data.zip
/coursera/hse_vvedenie/week7/data/features_test.csv
/coursera/hse_vvedenie/week7/data/features.csv
/coursera/hse_vvedenie/week7/data/matches.jsonlines
/coursera/hse_vvedenie/week7/data/matches_test.jsonlines
/coursera/hse_vvedenie/week7/final-statement.html
/coursera/hse_vvedenie/week7/final-statement_files/
/coursera/hse_vvedenie/week7/data/matches.jsonlines.bz2
/coursera/hse_vvedenie/week7/data/matches_test.jsonlines.bz2
/venv/
